/* Resets */
ul {
    padding:0;
    margin:0 0 20px 0;
    list-style:none;
}
h1, h2 {
    padding:0;
    margin:0 0 20px 0;
    font-weight:normal;
}
p {
    padding:0;
    margin:0 0 20px 0;
}
a:link, a:visited {
    text-decoration:underline;
    color:#000;
}
a:hover {
    text-decoration:none;
}
ul li {
    padding:5px 0;
}
ul li input[type="text"], ul li input[type="password"] {
    width:200px;
}
/* Headers */
h1 {
    font-size:1.8em;
}
h2 {
    font-size:1.4em;
}
.logo {
    font:3em Times New Roman;
    margin:0 0 10px 0;
    padding:0;
    width:2000px;
    color:#ffffff;
}
/* Containers */
body {
	background:#0087E2;
    font-family:Times New Roman;
    font-size:0.8em;
}
#container, footer {
	background:white;
    width:1080px;
    margin:0 auto;
    padding:45px;
	color:#000000;
	font:1.4em Times New Roman;
}
header {
    width:1150px;
    padding:10px;
    margin:0 auto 10px auto;
}
#container {
    min-height:520px;
    border-radius:5px 5px 0 0;
}
footer {
    border-radius:0 0 5px 5px;
}
.widget {
    margin-bottom:20px;
}
.widget h2 {
    margin:0 0 10px 0;
    padding:0 5px;
    font-weight:normal;
    border-bottom:1px solid #ddd;
}
.widget .inner {
    margin:0 10px;
}
/* Navigation */
nav {
    float:left;
}
nav ul {
    margin:0;
}
nav ul li {
    display:inline;
    margin-right:10px;
}
nav ul li a {
    text-decoration:none;
}
nav ul li.current {
    font-weight:bold;
}
nav ul li a.last {
    border-right:0;
}
/* Aside */
aside {
    width:200px;
    float:right;
    border-left:1px dashed #aaa;
    padding-left:15px;
}
/* Login */
#login li.link {
    margin-top:5px;
}
/* Footer */
footer {
    border-top:1px dashed #ddd;
    color:###FEEECD;
}
/* Misc */
.clear {
    clear:both;
}
.button {
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    border-width: 3px;
}
.button:hover {
    background-color: #0087E2;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2{
    background-color: #0087E2;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    border-width: 3px;
}

.button2:hover{
    background-color: #ffffff;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.width90{
    width: 90px;
}

.width180{
    width: 180px;
}

.width110{
    width: 110px;
}

.width145{
    width: 145px;
}

.p5{
    padding: 5px;
}

.p10{
    padding: 10px;
}

.bold{
    font-weight: bold;
}

.boxshadow{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 10px 50px 0 rgba(0,0,0,0.19);
}
